Source: ubuntu-sdk-ide
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               cmake,
               dpkg-dev (>= 1.16.1),
               devscripts,
               quilt,
               chrpath,
               doxygen,
               ca-certificates,
               debian-keyring,
               wget,
               curl,
               bzr,
               rsync,
               freetds-dev,
               gdb [!ppc64el],
               libasound2-dev [linux-any],
               libatspi2.0-dev,
               libcups2-dev,
               libdbus-1-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libgbm-dev [linux-any],
               libgl1-mesa-dev | libgl-dev,
               libgles2-mesa-dev [linux-any] | libgles2-dev [linux-any],
               libglib2.0-dev,
               libglu1-mesa-dev | libglu-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgtk2.0-dev,
               libharfbuzz-dev,
               libicu-dev,
               libjpeg-dev,
               libmysqlclient-dev,
               libnih-dbus-dev,
               libpng-dev,
               libpq-dev,
               libpulse-dev,
               libsqlite3-dev,
               libssl-dev,
               libudev-dev,
               libudev-dev [linux-any],
               libx11-dev,
               libx11-xcb-dev,
               libxcb1-dev,
               libxcb-icccm4-dev,
               libxcb-image0-dev,
               libxcb-keysyms1-dev,
               libxcb-randr0-dev,
               libxcb-render0-dev,
               libxcb-render-util0-dev,
               libxcb-shape0-dev,
               libxcb-shm0-dev,
               libxcb-sync-dev,
               libxcb-xfixes0-dev,
               libxcb-xkb-dev,
               libxcb-xinerama0-dev,
               libxi-dev,
               libxkbcommon-dev,
               libxkbcommon-x11-dev,
               libxrender-dev,
               pkg-config,
               pkg-kde-tools (>= 0.14.2),
               python-launchpadlib,
               unixodbc-dev,
               xvfb,
               zlib1g-dev,
               liblttng-ust-dev,
               libbotan1.10-dev,
               libboost-regex-dev,
               extra-cmake-modules,
               fcitx-libs-dev (>= 1:4.2.8),
               intltool,
               cdbs,
               libmtdev-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxext-dev
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-sdk-ide
# If you aren't a member of ~ubuntu-sdk-team but need to upload packaging changes,
# just go ahead. ~ubuntu-sdk-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~ubuntu-sdk-team/ubuntu-sdk-ide/trunk
XS-Testsuite: autopkgtest

Package: ubuntu-sdk-ide
Architecture: any
Depends: android-tools-adb [i386 amd64],
         lxd,
         ubuntu-sdk-tools,
         click,
         click-dev,
         click-doc,
         click-apparmor,
         python3,
         rsync,
         gdb-multiarch,
         click-reviewers-tools,
         phablet-tools [i386 amd64],
         python-dbus,
         xserver-xephyr [i386 amd64],
         pulseaudio,
         pulseaudio-utils,
         ${shlibs:Depends},
         ${misc:Depends},
Recommends: ubuntu-emulator  [i386 amd64],
Replaces: qtcreator,
          qtcreator-plugin-cmake,
          qtcreator-plugin-cmake-dev,
          qtcreator-plugin-go,
          qtcreator-plugin-qnx,
          qtcreator-plugin-qnx-dev,
          qtcreator-plugin-remotelinux,
          qtcreator-plugin-remotelinux-dev,
          qtcreator-plugin-ubuntu,
          qtcreator-plugin-ubuntu-autopilot,
          qtcreator-plugin-ubuntu-common,
          qtcreator-plugin-valgrind,
          qtcreator-plugin-valgrind-dev,
          qtcreator-plugin-autopilot,
          qtcreator-plugin-autopilot-dev,
          ubuntu-sdk-dev,
Conflicts: ubuntu-sdk-dev,
Description: Ubuntu SDK IDE
 Qt Creator is a lightweight, cross-platform integrated development
 environment (IDE) designed to make development with the Qt application
 framework even faster and easier.
 .
 This package contains the Qt Creator and the Ubuntu plugins providing
 deeper integration for developing applications for Ubuntu using the
 Ubuntu UI Toolkit. It also introduces an Ubuntu themed welcome
 screen.
